@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f5f9;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
